* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  margin-left: 10%;
  margin-right: 10%;
  height: 100%;
}


.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  display: inline-block;
  list-style: none;
}

.nav-item {
  display: inline-block;
  margin: 0 20px;
}

.nav-item a {
  text-decoration: none;
  color: #949494;
}

.nav-ul {
  display: inline-block;
}

.nav-ul::after{
  content: '';
  width: 0px;
  height: 2px;
  display: block;
  background: red;
  transition: 300ms;
}

.nav-ul:hover:after{
  width: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%
}

.main-section {
  display: inline-block;
}

.main-section__h {
  display: block;
  font-size: 60px;
}

.main-section__p {
  display: block;
  font-size: 14px;
  color: #949494;
}

b {
  color: black;
}

.main-section__button {
  background: linear-gradient(to right, black, #F55656);
  color: white;
  vertical-align: middle;
  border-radius: 5px;
  padding: 20px;
  font-size: 15px;
  position: relative;
  padding-right: 25px;
}

.main-section__button:hover {
  animation: updownbutton 0.8s 0.5s 6;
}

svg {
  stroke: white;
  position: absolute;
  top: 32%;
  right: 0px;
}

@keyframes updownbutton {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}
