.container {
    margin: 20px;
    display: grid;
    grid-template-columns:repeat(auto-fill,10rem);
    grid-template-rows: 20rem;
    justify-content: center;
    grid-gap: 1.5rem;
    /*Define el tamaño de las filas, igual para columnas*/
    grid-auto-rows: 12rem;
    /*Define como se va a agregar el nuevo contenido
    si en filas o columnas*/
    grid-auto-flow: minmax(8rem,auto);
    /*igual que arriba*/
    grid-auto-columns: 5rem;
}

.quote {
  border: 1px solid #fa923f;
  background: #ffbd87;
  font-family: sans-serif;
  padding: 1rem;
  border-radius: 5px;
}

.quote:nth-last-of-type(2){
  grid-column: span 2;
}

.quote--featured {
  border: #ff4213;
  background: #ff9f87;
  grid-column: span 2;
}
