* {
  box-sizing: border-box;
}

body{
  padding: 0%;
  margin: 0%;
}

.main-title,
.main-title__text {
  text-align: center;
}

.container {
  display: grid;
}

.container-image1 {
  /*position: relative;*/
  background: url("../Media/grid-1.jpeg");
  height: 25rem;
  background-size: cover;
}

.container-image__text {
  /*position: absolute;*/
  margin:10px;
  color: white;
  height: 90%;
  width: 90%;

}

.container-image__text h2,
.container-image__text p {
  margin: 0;
}

.container-image__text svg{
  display: none;
  color: white;
  background: #FFFFFF;
  border: 1px solid white;
  z-index: 1;
  bottom: 0%;
}

.container-image1:hover > .container-image__text{
  background:  #CF5434;
  opacity: 0.5;
}
