body {
  margin: 0;
}
.texto {
  position: absolute;
  text-align: center;
  font-size: 50px;
  width: 100%;
  bottom: 50%;
  color: white;
}

.banner {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Images/background-img.jpeg);
  background-size: 100% 100%;
}

.arrow {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0%;
}
